<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    </head>

    <body ng-app="WebSocketTest">
        <div>TODO write content</div>

        <div id="container" ng-controller="MainController">
            <div id="messagesContainer">{{message}}</div>
            <input id="userInput" type="text" />
            <button ng-click="sendMessage()">Send</button>
        </div>

        <script type="text/javascript" src="../js/controllers/websocketTest.js"></script>
    </body>
</html>
